@import "../../scss/custom-variables";
@include media-breakpoint-up(md) {
  .sticky-content{
    &__header{
      z-index: 3;
      flex-shrink: 0;
    }
    &__body{
      flex: 1 1 auto;
      overflow-y: auto;
    }
    &__footer{
      z-index: 3;
      flex-shrink: 0;
      box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1),
    }
  }
}
